	<footer class="page-footer">

		<svg class="page-decor page-decor--top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
			<polygon class="brand-decor" points="1920,0 960,65.111 0,0 0,0 1920,0 "/>
		</svg>

		<div class="container">

			<div class="row justify-content-between">

				<div class="col-md-3 text-left">
					
					<img src="assets/images/branding/logo-full-negative-h.svg" alt="Odvoz Smeća d.o.o." width="180">

					<address>
						<strong>Odvoz Otpada d.o.o.</strong><br>
						Ul. broj 80<br>
						10 000 Zagreb, Croatia<br>
						<a href="mail:info@solidform.hr">info@odvozotpada.hr</a>
					  </address>
				</div>
				<!-- /.col-md-3 -->

				<div class="col-sm-4 col-md-3 text-md-right">
					<h6>Društvene mreže</h6>
					<ul class="list-unstyled">
						<li>
							<a href="#">
								Facebook
								<i class="icon icon-social fab fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#">
								Linkedin
								<i class="icon icon-social fab fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- /.col-md-3 -->

			</div>
			<!-- /.row -->
			
		</div>
		<!-- /.container -->
	</footer>
	<!-- /.page-footer -->

	<div class="page-footer--copyright">

		<div class="container">
	
			<div class="row">
				<div class="text-center text-sm-left">
					<small>{{ pages[0].title }} d.o.o. &copy; 2022. All rights reserved</small>
				</div>
			</div>
			<!-- /.row -->

		</div>
		<!-- /.container -->

	</div>
	<!-- /.page-footer--copyright -->

	<!-- scripts -->
	<script src="assets/js/vendors/modernizr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="assets/js/vendors/jquery.min.js"><\/script>')</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="assets/js/vendors/jquery.paroller.min.js"></script>
	<script src="assets/js/app.js"></script>

</body>
</html>