<section class="page page-working text-center">

    <svg class="page-decor page-decor--top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <polygon class="brand-decor" points="1920,65.111 0,65.111 0,0 960,65.111 1920,0 "/>
    </svg>

    <div class="container pt-10 pb-10">
        
        <header class="page-header fade-in">
            <h3 class="header-title font--black">Usluge</h3>
        </header>
        <!-- /.page-header -->

        <div class="row justify-content-md-center fade-in">
            <div class="col-md-6">
                <p class="lead pt-5">Čiščenje stanova - pražnjenje prostorija uz odvoz starih, nepotrebnih stvari</p>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

        <div class="row mt-5">
            <div class="col-sm-5 fade-in mb-3">
                <img class="img-fluid img-bd" src="assets/images/usluge/glomzni-otpad.jpg" alt="Odvoz glomaznog otpada">
            </div>
            <div class="col-sm-7 fade-in text-start d-flex flex-column justify-content-center">
                <h5>Odvoz glomaznog otpada</h5>
                <p class="lead">Besplatni odvoz starog željeza, karambola, strojeva, bijele tehnike</p>
            </div>
        </div>
        <!-- /.row mt-5 -->

        <div class="row mt-5 flex-row-reverse">
            <div class="col-sm-5 fade-in mb-3">
                <img class="img-fluid img-bd" src="assets/images/usluge/dostava.jpg" alt="Dostava">
            </div>
            <div class="col-sm-7 fade-in text-start d-flex flex-column justify-content-center">
                <h5>Dostava i selidbe</h5>
                <p class="lead">Brza dostava namještaja ili kućanskih aprata od trgovine ili skladišta na adresus</p>
                <p class="lead">Prijevoz namještaja sa jedne lokacije na drugu na području cijele Republike Hrvatske</p>
            </div>
        </div>
        <!-- /.row mt-5 -->

        <div class="row mt-5">
            <div class="col-sm-5 fade-in mb-3">
                <img class="img-fluid img-bd" src="assets/images/usluge/ured.jpeg" alt="Čiščenje privatnih i poslovnih prostora">
            </div>
            <div class="col-sm-7 fade-in text-start d-flex flex-column justify-content-center">
                <h5>Čiščenje privatnih i poslovnih prostora</h5>
                <p class="lead">Zbrinjavanje starog namještaja, čišćenje hala, poslovnih prostora i stanova</p>
            </div>
        </div>
        <!-- /.row mt-5 -->
    
    </div>
    <!-- /.container -->

    <svg class="page-decor page-decor--bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
		<polygon class="brand-decor" points="1920,0 960,65.111 0,0 0,0 1920,0 "/>
	</svg>

</section>
<!-- /.page-working -->