<section class="page text-center">

    <svg class="page-decor page-decor--top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 65.111">
        <polygon class="brand-decor" points="1920,65.111 0,65.111 0,0 960,65.111 1920,0 "/>
    </svg>

    <div class="container pt-5 pt-md-7 pt-lg-10 pb-5 pb-md-7 pb-lg-10">
        
        <header class="page-header text-center fade-in">
            <h3 class="header-title font--black">Usluge</h3>
        </header>
        <!-- /.page-header -->
    
        <div class="row mt-5">
            <div class="col-sm-6 text-center fade-in">
                <img class="icon fade-in" src="assets/images/icons/candidate.svg" alt="Top Quality" width="100" height="100">
                <h5 class="fade-in">Odvoz glomaznog otpada</h5>
                <p class="lead fade-in">Besplatni odvoz starog željeza, karambola, strojeva, bijele tehnike</p>
            </div>
            <!-- /.col-sm-6 -->
            <div class="col-sm-6 text-center fade-in">
                <img class="icon fade-in" src="assets/images/icons/office.svg" alt="Precise fit" width="100" height="100">
                <h5 class="fade-in">Čiščenje privatnih i poslovnih prostora</h5>
                <p class="lead fade-in">Zbrinjavanje starog namještaja, čišćenje hala, poslovnih prostora i stanova</p>
            </div>
            <!-- /.col-sm-6 -->
            <div class="col-sm-6 text-center fade-in">
                <img class="icon fade-in" src="assets/images/icons/contract.svg" alt="Fast hiring" width="100" height="100">
                <h5 class="fade-in">Selidbe</h5>
                <p class="lead fade-in">Prijevoz namještaja sa jedne lokacije na drugu na području cijele Republike Hrvatske</p>
            </div>
            <!-- /.col-sm-6 -->
            <div class="col-sm-6 text-center fade-in">
                <img class="icon fade-in" src="assets/images/icons/budget.svg" alt="Competitive pricing" width="100" height="100">
                <h5 class="fade-in">Dostava</h5>
                <p class="lead fade-in">Brza dostava namještaja ili kućanskih aprata od trgovine ili skladišta na adresu</p>
            </div>
            <!-- /.col-sm-6 -->
        </div>
        <!-- /.row -->
    
    </div>
    <!-- /.container -->

</section>
<!-- /.page -->