{# HERO COMPONENT
Accepting params:
pageType // For index/aboutus/contact 
pageOrientation // For layout on the left/center/right/fullpage
pageTheme // For light/dark
pageClasses
headingText // For text line before rolodex
rolodexClasses // For rolodex
rolodexItems
#}

{# <section class="page page-intro page-orientation--l page-theme--light d-flex align-items-center"> #}
<section class="page page-{{ params.pageType }} page-orientation--{{ params.pageOrientation }} page-theme--{{ params.pageTheme }} {{ params.pageClasses }}">

	{# <div class="page-image" data-paroller-factor="0.3" style="background-position: center 0px;"></div> #}

	<div id="carouselCiscenjeStanova" class="carousel slide" data-bs-ride="ride">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselCiscenjeStanova" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselCiscenjeStanova" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselCiscenjeStanova" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="assets/images/usluge/cs-carousel-1.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="assets/images/usluge/cs-carousel-2.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="assets/images/usluge/cs-carousel-3.jpg" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselCiscenjeStanova" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselCiscenjeStanova" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<div class="cards">
		<div class="card">
			<span class="material-icons">
				calculate
				</span>						
			<div class="title">Besplatna procjena</div>
		</div>
		<div class="card">
			<span class="material-icons">
				handshake
				</span>
			<div class="title">Dolazak po dogovoru</div>
		</div>
		<div class="card">
			<span class="material-icons">
				cleaning_services
				</span>
			<div class="title">Urednost i pedantnost</div>
		</div>
		<div class="card">
			<span class="material-icons">
				recycling
				</span>
			<div class="title">Sigurno zbrinjavanje otpada</div>
		</div>
	</div>
	<!-- /.cards -->
	
</section>


